@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/*@import "~leaflet/dist/leaflet.css";*/

.slide-up-enter-active {
    animation: slide-up .3s ease-out;
}
.slide-up-leave-active {
    animation: slide-up .3s reverse;
}
@keyframes slide-up {
    from {
        transform: translateY(16px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
